
.button:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1
}


.button {
    -fx-font-weight: bold;
    -fx-background-radius: 6em;
    -fx-min-width: 90px;
    -fx-min-height: 90px;
    -fx-max-width: 90px;
    -fx-max-height: 90px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );

}

.jfx-list-cell:selected {
    -fx-background-color: #fce72a;
}

.jfx-list-cell:hover {
    -fx-background-color:  #e8ebef;
}

.jfx-list-cell .jfx-rippler {
    -fx-rippler-fill: #fce72a;
}



