
.button:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1
}

.circlebutton {
    -fx-font-size: 14px;
    -fx-background-radius: 6em;
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-max-width: 100px;
    -fx-max-height: 100px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.jfx-list-cell:selected {
    -fx-background-color: #d6d6d6;
}

.jfx-list-cell:hover {
    -fx-background-color:  #e8ebef;
}

.jfx-list-cell .jfx-rippler {
    -fx-rippler-fill: #fce72a;
}



