
.floatingButton {
     -fx-pref-width: 50px;
     -fx-pref-height: 50px;
     -fx-background-color: #4059a9;
     -fx-background-radius: 50px;
     -fx-font-size: 19px;
     -fx-text-fill: white;
}


.buttonHoverMenu:hover {
    -fx-background-color: #d6d6d6;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1
}

.circle_button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 6em;
    -fx-min-width: 120px;
    -fx-min-height: 120px;
    -fx-max-width: 120px;
    -fx-max-height: 120px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.jfx-list-cell:selected {
    -fx-background-color: #d6d6d6;
}

.jfx-list-cell:hover {
    -fx-background-color:  #e8ebef;
}

.jfx-list-cell .jfx-rippler {
    -fx-rippler-fill: #fce72a;
}



